@font-face {
    font-family: 'DungGeunMo';
    src: url('DungGeunMo.ttf') format('truetype');
  }
  body {
    font-family: 'DungGeunMo', sans-serif;
  }
  h1{
    border-bottom: 2px solid gray;
    font-size: 400%;
    text-align: center;
    padding: 20px;
    margin: 20px;
    display: block;
  }